{:deps {net.cgrand/xforms {:mvn/version "0.18.2"}
        com.rpl/specter {:mvn/version "1.1.2"}
        binaryage/oops {:mvn/version "0.6.4"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {org.clojure/clojure {:mvn/version "1.10.0-RC5"}
                      ;; org.clojure/clojurescript {:mvn/version "1.10.439"}
                      org.clojure/clojurescript {:git/url "https://github.com/clojure/clojurescript"
                                                 :sha "d6f8896452b531a273f99f2716aaa08f09600063"}
                      org.clojure/test.check {:mvn/version "RELEASE"}
                      ;;org.clojure/spec.alpha {:local/root "/Users/Borkdude/git/spec.alpha"}
                      chivorcam {:mvn/version "1.0.0"}
                      speculative {:mvn/version "0.0.3-SNAPSHOT"}
                      ;; workarounds-1.10.439 {:git/url "https://github.com/mfikes/workarounds-1.10.439"
                      ;;                       :sha "a559201602fc6a21701479b83086d76bd5ed09eb"}
                      }}
  :test-clj
  {:extra-paths ["test"]
   :extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner.git"
                 :sha "028a6d41ac9ac5d5c405dfc38e4da6b4cc1255d5"}}
   :main-opts ["-m" "cognitect.test-runner"]}
  :test-cljs
  {:extra-paths ["test" "cljs-test-runner-out/gen"]
   :extra-deps {olical/cljs-test-runner {;;:mvn/version "3.2.1"
                                         :git/url "https://github.com/borkdude/cljs-test-runner"
                                         :sha "c04e52ba1f9b2c646710b532a0c3ca5cab429491"}}
   :main-opts ["-m" "cljs-test-runner.main"]}
  :new
  {:extra-paths ["test"]
   :extra-deps {org.clojure/tools.cli {:mvn/version "0.4.1"}}
   :main-opts ["-m" "aoc.new"]}}}
